{% extends 'base.html.twig' %}

{% block title %}Events | {{ parent() }}{% endblock %}

{% block main %}
    <div class="px-4 pb-4 py-md-5 my-3 text-center">
        <h1 class="display-5 fw-bold">
            Upcoming Symfony Conferences and Events
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Don't miss any events in the Symfony community.
            </p>
        </div>
    </div>

    {% if events|length > 0 %}
        <ul class="list-unstyled">
            {% for event in events %}
                <li class="py-4 py-lg-5 d-sm-flex">
                    <a href="{{ event.url }}" class="col-12 col-md-4 d-block pe-4">
                        <img src="{{ vich_uploader_asset(event) }}" class="img-fluid img-thumbnail" alt="{{ event.name }}">
                    </a>
                    <div class="col-12 col-md-8 mt-3 mt-md-0">
                        <h2 class="d-block h3 card-title">
                            <a href="{{ event.url }}" class="text-decoration-none">{{ event.name }}</a>
                        </h2>
                        <small class="text-muted">
                            {% if event.startDate|date is same as event.endDate|date %}
                                {{ event.startDate|format_datetime('medium', 'none') }}
                            {% else %}
                                {{ event.startDate|format_datetime('medium', 'none') }} - {{ event.endDate|format_datetime('medium', 'none') }}
                            {% endif %}
                        </small>
                        <p class="card-text mt-2">{{ event.abstract }}</p>
                        <a href="{{ event.url }}" class="btn btn-outline-primary btn-sm">Learn more</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="text-center">
            <p>No upcoming events</p>
        </div>
    {% endif %}
{% endblock %}
