{# @var job \App\Entity\Job #}
<a href="{{ path('job', {'id': job.id}) }}" class="list-group-item list-group-item-action py-3 {% if job.pinned %}pinned{% endif %}" target="_blank">
    <div class="d-flex">
        {% if job.organizationImageName %}
            <img src="{{ vich_uploader_asset(job) }}" alt="{{ job.organization }}" class="img-fluid rounded mt-2 align-self-start" width="65" height="65">
        {% elseif job.organizationImageUrl %}
            <img src="{{ job.organizationImageUrl }}" class="img-fluid rounded mt-2 align-self-start" alt="{{ job.organization }}" width="65" height="65">
        {% else %}
            <img src="https://eu.ui-avatars.com/api/?name={{ job.organization }}&size=65&background=fff" alt="{{ job.organization }}" class="mt-2 align-self-start rounded" width="65" height="65">
        {% endif %}
        <div class="ms-3 flex-grow-1">
            <div class="d-flex align-items-center justify-content-between">
                <span class="mb-0">{{ job.organization }}</span>
                <span class="badge rounded-pill text-bg-light ">{{ ('employment_type.' ~ job.employmentType.value)|trans }}</span>
            </div>
            <p class="h5 d-block mb-0 fw-bold lh-base">{{ job.title }}</p>
            <div class="mt-2 d-flex flex-wrap text-muted small">
                <div class="text-break mb-0 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                    <i icon-name="map-pin" class="fs-6"></i>
                    <span class="ms-1">{{ job.location }}</span>
                </div>
                {% if job.tags|length > 0 %}
                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                        <i icon-name="tags"></i>
                        <span class="ms-1">{{ job.tags|join(', ') }}</span>
                    </div>
                {% endif %}
                {% if job.salary %}
                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                        <i icon-name="coins"></i>
                        <span class="ms-1">{{ job.salary }}</span>
                    </div>
                {% endif %}
                {% if job.pinned %}
                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                        <i icon-name="pin" class="text-primary"></i>
                    </div>
                {% endif %}
                <div class="ms-md-auto mb-0">
                    {{ job.createdAt|ago }}
                </div>
            </div>
        </div>
    </div>
</a>
