{% extends 'base.html.twig' %}

{% block title %}Latest Symfony {{ ('employment_type.' ~ employmentType.value)|trans }} jobs - {{ parent() }}{% endblock %}

{% block main %}
    <div class="px-4 pb-4 py-md-5 my-3 text-center">
        <h1 class="display-5 fw-bold">
            Latest Symfony <b>{{ ('employment_type.' ~ employmentType.value)|trans }}</b> Jobs
        </h1>
        <div class="col-lg-6 mx-auto d-none d-md-block mt-5">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#getNotifiedAboutNewJobs" class="btn btn-outline-primary px-3 ">Get notified about new jobs  ↓</a>
            </div>
        </div>
    </div>

    {% set jobsCount = jobs|length %}
    {% if jobsCount > 0 %}
        <div class="job-list d-flex flex-column justify-content-around gap-4">
            {% for job in jobs %}
                {{ include('job/_job_card.html.twig', {'job': job}) }}

                {% if loop.index == (jobsCount/2)|round %}
                    <div id="getNotifiedAboutNewJobs">
                        {{ render(controller('App\\Controller\\JobController::subscriptionForm')) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <p>No jobs</p>
            <a href="{{ path('job_new') }}" class="btn btn-outline-primary">{{ 'action.post_job'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
