{% extends 'base.html.twig' %}

{% block title %}Sponsor a Job | {{ parent() }}{% endblock %}

{% block post_job %}{% endblock %}

{% block main %}
    <div class="my-5">
        <div class="row mt-md-4 mt-0 align-items-center">
            <div class="col-12 col-md-4">
                {{ form_start(form) }}
                <h1 class="h2">Support open source ecosystem 💙</h1>
                <p>
                    By making a donation you will <b>support open source</b> and add your job offer at the <b>top of the list for 6 months!</b> <br>
                    Each donation will sponsor Symfony open source ecosystem.<br>
                </p>
                <small>Any questions? <a href="mailto:hello@jobbsy.dev">Get in touch!</a></small>

                <div class="mt-4">
                    {{ form_widget(form.donationAmount) }}
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-primary btn-lg bg-gradient px-3" type="submit">{{ 'action.sponsor'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-12 col-md-7 offset-1 d-none d-md-block">
                <div class="list-group mt-5">
                    {{ include('job/_job.html.twig', {'job': job}) }}

                    <li class="list-group-item list-group-item-action py-3 disabled">
                        <div class="d-flex">
                            <img src="{{ asset('build/images/hooli.webp') }}" alt="Hooli" class="mt-2 align-self-start rounded" width="65" height="65">
                            <div class="ms-3 flex-grow-1">
                                <p class="h5 d-block mb-0 fw-bold lh-base">Lead Symfony developer</p>
                                <p class="mb-0">Hooli</p>
                                <div class="mt-2 d-flex flex-wrap text-muted small">
                                    <div class="text-break mb-0 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="building"></i>
                                        <span class="ms-1">{{ 'employment_type.full_time'|trans }}</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="map-pin"></i>
                                        <span class="ms-1">Remote, UK</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="tags"></i>
                                        <span class="ms-1">PHP, Symfony, PostgreSQL</span>
                                    </div>
                                    <div class="ms-md-auto mb-0">
                                        1 day ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-action py-3 disabled">
                        <div class="d-flex">
                            <img src="{{ asset('build/images/pied_piper_logo.jpg') }}" alt="Pied Piper" class="mt-2 align-self-start rounded" width="65" height="65">
                            <div class="ms-3 flex-grow-1">
                                <p class="h5 d-block mb-0 fw-bold lh-base">Full stack Symfony developer</p>
                                <p class="mb-0">Pied Piper</p>
                                <div class="mt-2 d-flex flex-wrap text-muted small">
                                    <div class="text-break mb-0 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="building"></i>
                                        <span class="ms-1">{{ 'employment_type.full_time'|trans }}</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="map-pin"></i>
                                        <span class="ms-1">Paris, France</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="tags"></i>
                                        <span class="ms-1">PHP, Symfony, MySQL</span>
                                    </div>
                                    <div class="ms-md-auto mb-0">
                                        2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-action py-3 disabled">
                        <div class="d-flex">
                            <img src="{{ asset('build/images/acme-corporation-logo.png') }}" alt="Hooli" class="mt-2 align-self-start rounded" width="65" height="65">
                            <div class="ms-3 flex-grow-1">
                                <p class="h5 d-block mb-0 fw-bold lh-base">Symfony Software Engineer</p>
                                <p class="mb-0">Acme Coroporation</p>
                                <div class="mt-2 d-flex flex-wrap text-muted small">
                                    <div class="text-break mb-0 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="building"></i>
                                        <span class="ms-1">{{ 'employment_type.full_time'|trans }}</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="map-pin"></i>
                                        <span class="ms-1">Lisbon, Portual, Remote</span>
                                    </div>
                                    <div class="text-break mb-0 ms-md-3 flex-grow-1 flex-md-grow-0 align-items-center d-flex">
                                        <i icon-name="tags"></i>
                                        <span class="ms-1">PHP, Symfony, React</span>
                                    </div>
                                    <div class="ms-md-auto mb-0">
                                        2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
