{% extends 'base.html.twig' %}

{% block title %}Blog | {{ parent() }}{% endblock %}

{% block main %}
    <div class="px-4 pb-4 py-md-5 my-3 text-center">
        <h1 class="display-5 fw-bold">
            Blog
        </h1>
    </div>

    <div class="job-list d-flex flex-column justify-content-around gap-3">
        {% for post in pagination %}
            <article class="post">
                <h2>
                    <a href="{{ path('blog_post', {slug: post.slug}) }}" class="text-reset text-decoration-none">
                        {{ post.title }}
                    </a>
                </h2>

                <p>{{ post.summary }}</p>

                <p class="post-metadata text-muted small">
                    <span class="metadata">{{ post.publishedAt|format_datetime('long', 'none') }}</span>
                </p>
            </article>
        {% else %}
            <div class="well">No posts found</div>
        {% endfor %}
    </div>

    <div class="navigation mt-5">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
