<article>
    <div class="d-flex align-items-center mb-3 text-muted small">
        {% if article.feed.imageName %}
            <img src="{{ vich_uploader_asset(article.feed) }}" alt="" width="30" class="rounded-circle">
        {% elseif article.feed.imageUrl %}
            <img src="{{ article.feed.imageUrl }}" alt="" width="30" class="rounded-circle">
        {% endif %}

        <span class="ms-3">{{ article.feed.name }}</span>

        {% if article.publishedAt %}
            <span class="d-block ms-2 small">&#183;</span>

            <p class="post-metadata mb-0 ms-2">
                <span class="metadata" title="{{ article.publishedAt|format_datetime('long', 'long') }}">{{ article.publishedAt|ago }}</span>
            </p>
        {% endif %}
    </div>

    <h3 class="card-title">
        <a href="{{ path('news_article', {id: article.id}) }}" class="text-decoration-none text-reset" target="_blank">
            {{ article.title }}
        </a>
    </h3>

    <div class="card-text mt-3 mb-3">
        {{ article.description|sanitize_html(sanitizer = 'app.article_sanitizer')|u.truncate(180, '...', false)|raw }}
    </div>

    <a href="{{ path('news_article', {id: article.id}) }}" target="_blank">Continue reading</a>
</article>
