<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ 'rss.title_news'|trans }}</title>
        <description>{{ 'rss.description_events'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (entries|last).publishedAt|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url('news_index') }}</link>
        <language>{{ app.request.locale }}</language>

        {% for entry in entries %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.link }}</link>
                <pubDate>{{ entry.publishedAt|date(format='r', timezone='GMT') }}</pubDate>
                <guid isPermaLink="false">{{ url('news_entry', {'id': entry.id}) }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
