<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Jobbsy - Job board for Symfony{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/icon.svg') }}">
        <meta name="description" content="Looking for a Symfony developer job? or hire Symfony developer ? jobbsy.dev is the place to be.">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-color: rgba(249, 250, 251,1)">
        {% block body %}
            <header class="bg-white border-bottom p-2 py-3">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                        <a href="{{ path('job_index') }}" class="mb-2 mb-sm-0 mb-md-0">
                            <img src="{{ asset('build/images/logo_jobbsy.svg') }}" alt="logo" width="150">
                        </a>
                        <div class="col-md-3 text-end ms-3 ms-md-0">
                            <a href="{{ path('job_new') }}" class="btn btn-primary">{{ 'action.post_job'|trans }}</a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="container">
                <div class="my-2">
                    {{ include('default/_flash_messages.html.twig') }}
                </div>

                {% block main %}{% endblock %}
            </main>

            <footer class="py-3 my-4 text-center">
                <ul class="nav justify-content-center pb-3 mb-1">
                    <li class="nav-item">
                        <a href="{{ path('job_index') }}" class="nav-link px-2 text-muted">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:hello@jobbsy.dev" class="nav-link px-2 text-muted">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('job_rss') }}" class="nav-link px-2 text-muted">RSS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('api_doc') }}" class="nav-link px-2 text-muted">API</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/qdequippe/jobbsy" target="_blank" rel="nofollow" class="nav-link px-2 text-muted">Github</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/jobbsy" target="_blank" rel="nofollow" class="nav-link px-2 text-muted">Twitter</a>
                    </li>
                </ul>
                <p class="text-center text-muted mb-0">{{ ''|date('Y') }} Jobbsy, open source job board for Symfony™</p>
                <small class="text-muted">Symfony™ is a trademark, please refer to <a href="https://symfony.com/trademark" class="text-reset" target="_blank" rel="nofollow">Trademark and Logo Policy</a>.</small>

                <small class="d-block text-muted mt-3">External sources: <a href="https://pole-emploi.io" class="text-reset" target="_blank" rel="nofollow">Pole Emploi</a><!--, <a href="https://www.arbeitsagentur.de/" class="text-reset" target="_blank" rel="nofollow">Bundesagentur für Arbeit</a>--></small>
            </footer>
        {% endblock %}
    </body>
</html>
