<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Jobbsy - Job board for Symfony{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-color: rgba(249, 250, 251,1)">
        {% block body %}

            <header class=" bg-white border-bottom p-2">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                        <a href="{{ path('job_index') }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" style="font-size: 2rem">
                            Jobbsy
                        </a>
                        <div class="col-md-3 text-end">
                            <a href="{{ path('job_new') }}" class="btn btn-primary">{{ 'action.post_job'|trans }}</a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="container">
                {% block main %}{% endblock %}
            </main>
            <footer class="text-muted py-5">
                <div class="container">
                    <p class="float-end mb-1">
                        <a href="#">Back to top</a>
                    </p>
                    <div class="d-flex">
                        <small class="mb-1 d-block">Unofficial job board for Symfony</small>
                        <small class="mx-1">&middot;</small>
                        <small><a href="https://github.com/qdequippe/symfonyjobs" class="text-decoration-none text-dark" target="_blank" rel="nofollow"><i class="fab fa-github"></i></a></small>
                        <small class="mx-1">&middot;</small>
                        <small><a href="{{ path('job_rss') }}" class="text-decoration-none text-dark ms-1"><i class="fa fa-rss-square"></i></a></small>
                    </div>
                    <small class="mb-0">Symfony is a trademark, please refer to <a href="https://symfony.com/trademark">Trademark and Logo Policy</a>.</small>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
